
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
--main-color: #212121;
--sec-color: #757575;
--accent-color: #2196F3;
--footer-color: #2F303A;
--white: #FFFFFF;
--color-button: #F5F4FA;
--footer-colour-adress: rgb(255,255,255,0.6);
}

body {
    background-color: #FFFFFF;
    color: var(--main-color);

    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

/*logo*/
.logo {
    color: var(--main-color);
    text-decoration: none;
    width: 145px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: inline-block;
}


.logo:hover,
.logo:focus,
.logo-title:hover,
.logo-title:focus {
    color: var(--accent-color);
    text-decoration: underline;
    text-underline-position: var(--accent-color);
}

.logo-title {
    color: var(--accent-color);
}

.logo-botton {
     color: var(--white);
     text-decoration: none;
   
     font-family: Raleway, sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0.03em;
     display: inline-block;
     margin-bottom: 20px;
}

.logo-botton:hover,
.logo-botton:focus {
    color: var(--accent-color);
}



 /*header*/
 
 /*header {
    padding-top: 20px;
 }*/

  header .conteiner-portfolio {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

 .conteiner-primary {
     width: 1230px;
     margin-left: auto;
     margin-right: auto;
     /*outline: 3px solid tomato;*/
     padding: 15px 15px;
     padding-top: 0px;    
     padding-bottom: 0px;
 }
 
/*.header  {
    padding-top: 24px;
    margin-bottom: 0px;
}*/

.conteiner {
    padding-top: 200px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 200px;

}

 .conteiner-list {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
 }

/*site-nav*/
.site-nav .link {
     
    color: var(--main-color);
     text-decoration: none;
     
     font-weight: 500;
     font-size: 14px;
     line-height: 1.2;
     letter-spacing: 0.02em;
}
.site-nav .link:hover {
    color: var(--accent-color);
}
.site-nav .link:focus {
    color: var(--accent-color);
}
 .site-nav .link-active {
    color: var(--accent-color);
 }
/*item-contact*/

.item-contact .link {
    color: var(--sec-color);
    text-decoration: none;
   
}
.item-contact .link:hover {
    color: var(--accent-color);
}
.item-contact .link:focus {
    color: var(--accent-color);
}


/*main*/
 /*hero*/

 .section .section-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 }
 .section-hero {
    background-color: var(--footer-color);
    
    text-align: center;
 }
  .section-title {
    color: var(--white);
   
   }
 
    
.list .list-profession {

    color: var(--sec-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
     }

 .list-profession {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
 }

/*section features*/

.list-feature {
    display: flex;
}

 .list-feature .feature-item {
    display: block;
    margin-right: 30px;
    justify-content: center;
    width: 270px;
 }

 .list-feature .feature-item:last-child {
    margin-right: 0px;
 }

 .conteiner-feature {
    padding-top: 94px;
    padding-bottom: 94px;
 }

.section .features-title {
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 10px;
}



.conteiner-primary .title {
    margin: 0px;
    text-align: center;
    padding: 10px;
    
}

.section .section-content {
    color: var(--sec-color);
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}

.section .list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
    /*.feature-hiding {

    }*/
/*section work*/

.list-work {
    display: flex;
}

.list-work .work-item {
    display: block;
    margin-right: 30px;
    justify-content: center;
}

.list-work .work-item:last-child {
    margin-right: 0px;
}



.section .work-title,
.team-title  {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        
}


.section .work-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
}
/*section our team*/

.list-team {
    display: flex;

}

.list-team .member-team {
    display: block;
    margin-right: 30px;
    justify-content: center;
}

.list-team .member-team:last-child {
    margin-right: 0px;
}

.conteiner-main {
    margin-bottom: 0px;
}

.section .team-member {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 155px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  
}

.section .team-title {
    padding-top: 94px;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.section-color {
    background-color: rgba(245, 244, 250, 0.25);
}

.team-title {
    margin-bottom: 50px;
    margin-top: 188px;
}

.conteiner-team {
    margin-bottom: 0px;
    padding-bottom: 94px;
    list-style: none;
}

 .team-card {
    width: 278px;
 }
/*portfolio site-link*/

 .header-portfolio {
    margin-bottom: 93px;
    border-bottom: 1px solid #ECECEC;
 }
/*site-nav -portfolio*/

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    
}

.site-nav {
    display: flex;
    margin-left: 93px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 305px;
    padding: 0px;
}

.site-nav .nav-item {
    /*background-color: tomato;*/
    display: block;
    margin-right: 50px;
    
}

.site-nav .nav-item:last-child {
    margin-right: 0px;
}

.site-nav .nav-item:first-child {
    margin-left: 0px;
}

.nav-link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-contact {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.item-contact .contact-item {
    margin-right: 50px;
} 

.item-contact .contact-item:last-child {
    margin-right: 0px;
}

/*portfolio exampl*/

.exampl .exampl-item {
    list-style: none;
}

    .exampl {
    width: 1230px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
   
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
}

       .exampl-item {
    width: calc((1230-2*30)/3);
    margin-right: 30px;
       
    margin-bottom: 30px;
    padding-bottom: 0px;
    border: 1px;
    border-bottom: var(--accent-color);
           
    box-shadow: 1px 4px 6px 0px rgb(238, 238, 238, 0.16),
            0px 4px 4px 0px rgb(238, 238, 238, 0.06), 0px 1px 1px 0px rgb(238, 238, 238, 0.12);
    align-content: space-around;
}
  
    .exampl-item:nth-child(3n) {
        margin-right: 0px;
    }
    
    .card-exampl .exampl-content {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 24px;
    color: var(--sec-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

    .card-exampl .exampl-title {
  
    color: var(--main-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    display: inline-block;
   
    margin: 0px 0px 0px 0px;
    padding-left: 24px;
    padding-bottom: 4px;
    
 }
            
    .exampl-link {
    width: 370px;

    text-decoration-line: none;
    color: var(--main-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
    
          
  .card-example {
    width: 322px;
 }

    .exampl-site {
        display: block;
    }

 .portfolio-title {
    margin: 0px 0px;
    text-align: center;
}

 
  
 /*footer*/

 .footer {
    background-color: #2F303A;
    font-style: normal;
}

.footer-item .footer-link {
    display: inline-block;
    margin-bottom: 10px;


    color: var(--footer-colour-adress);
    text-decoration: none;

    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer-item .footer-link:hover {
    color: var(--accent-color);
}

.footer-item .footer-link:focus {
    color: var(--accent-color);
}

.footer-item .footer-post {
    display: inline-block;
    margin-bottom: 10px;

    color: var(--white);
    text-decoration: none;

    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-item .footer-post:hover {
    color: var(--accent-color);
}

.footer-item .footer-post:focus {
    color: var(--accent-color);
}

.footer-item {
    margin-top: 0px;
    padding-left: 0px;
}

.conteiner-footer {
    padding-top: 60px;
    
    margin-bottom: 0px;
}
 footer {
    padding-bottom: 20px;
   
 }

/*button*/
.button {
    color: var(--main-color);
    background-color: #c7c3db4a;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;

    display: inline-block;
    
    border: var(--accent-color);
    padding: 6px 22px;
    border-radius: 4px;
    

    
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
            0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}
 
  .button-list .button-item:not(:last-child) {
     margin-right: 8px;
 }

 .button-list {
    display: flex;
    align-items: baseline;
    justify-content: center;
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 34px;
    padding-left: 0px;
 }
  

    
 .button:hover {
    color: var(--white);
    background-color: var(--accent-color);
}
.button:focus {
    color: var(--white);
    background-color: var(--accent-color);
}
   
.button-order {
    padding: 10px 32px;   
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;


    color: var(--white);
    background-color: var(--accent-color);
    cursor: pointer;
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
}

   /* .conteiner-button {
    outline: 3px solid tomato;
    width: 611px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 0px 0px 16px 0px;
}*/

.hero-conteiner {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 696px;
 
}


